
<div id="CheckOutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> Checkout</div>
      <div class="modal-body">
        <form class= "checkoutOrder">
                   <div class= "text-center">
          <span class="textName"> &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;Name</span><input type="text" class="checkoutName"></input><br>

          <span>Phone Number</span><input type="text" class="checkoutPhone"></input><br>
          <input class="checkoutButton btn btn-primary" type="submit" data-dismiss="modal"></input>
        </div>
        </form>
      </div>
  </div>
</div>
