
<div id="CheckOutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> Hi</div>
      <div class="modal-body">
        <form class= "checkoutOrder">
          Name: <input type="text" class="checkoutName" value="lighthouse"></input><br>
          Phone Number: <input type="text" class="checkoutPhone" value="888-569-6898"></input><br>
          <input class="checkoutButton" type="submit" data-dismiss="modal"></input>
          <span id="orderId"><%=CustOrderId%></span>
        </form>
      </div>
  </div>
</div>
