<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- checkout -->
    <script type="text/javascript" src="/scripts/timeCheck.js"></script>

  </head>
  <body>
    <h2>Thank you for your order!</h2>
    <h2 id="status"> The restaurant will provide an estimated preparation time shortly.</h2>
  </body>
</html>
