<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- checkout -->
    <script type="text/javascript" src="/scripts/timeCheck.js"></script>

    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/confirm.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/modal.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css" type="text/css" />

  </head>
  <body>
<header >
    <span class="header">Lighthouse Foods</span>
</header>
</head>
  <body class="body">
    <div class="restName">
      <p class ="location">Where we are: 128 W Hastings Street, Vancouver, BC V6B 1G8</p>
      <p>Open hours: 10:30 AM - 8:30 PM</p>
    </div>
    <h2>Thank you for your order!</h2>
    <h2 id="status"> The restaurant will provide an estimated preparation time shortly.</h2>
  </body>
</html>
