<!DOCTYPE html>
<html lang="en">
<head>
<title>Lighthouse Foods</title>
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<!-- open sans font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<!-- scrolling on nav -->
<script type="text/javascript" src="/scripts/scroll.js"></script>
<!-- add to cart -->
<script type="text/javascript" src="/scripts/cartFood.js"></script>

<!-- bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- flexbox -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"/>

<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/content.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />
<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<link rel="stylesheet" href="/styles/modal.css" type="text/css" />
<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link rel="stylesheet" href="/styles/sidebar.css" type="text/css" />

<header >
    <span class="header">Lighthouse Foods</span>
</header>
</head>
  <body class="body">
    <div class="restName">
      <p class ="location">Where we are: 128 W Hastings Street, Vancouver, BC V6B 1G8</p>
      <p>Open hours: 10:30 AM - 8:30 PM</p>
    </div>
    <nav>
      <a class="navEntree">Entree</a>
      <a class="navSnack">Snack</a>
      <a class="navDrink">Drink</a>
    </nav>
    <main class="content">
      <section class = "entree">
        <h2>Entrees</h2>

            <%foodEntree.forEach(function(foodItem){%>
            <% include ./partials/_foodData %>
            <% }) %>
      </section>
      <section class = "snack">
        <h2>Snacks</h2>
              <%foodSnack.forEach(function(foodItem){%>
                <% include ./partials/_foodData %>
              <% }) %>
      </section>
      <section class = "drink">
        <h2>Drinks</h2>
              <%foodDrink.forEach(function(foodItem){%>
                <% include ./partials/_foodData %>
               <% }) %>
      </section>
    </main>
    <section id="sideBar">
      <div id = "itemList"></div><br>
      <span class="amountTotal">Total: $
        <span id="total">0.00</span>
      </span><br>
      <div id="checkoutButton" data-toggle="modal" data-target="#CheckOutModal">Checkout</div>
    </section>
    <% include ./partials/_checkout %>
  </body>
</html>
