@import "variables";

.content{
  width: $left-content;
  overflow: auto;
}
.content section {
  margin-top: 1em;
}

img .imageEntree {
  width: 100px;
}

::-webkit-scrollbar {
    display: none;
}

.location{
  margin: 5px;
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
  margin-left: 30px;
}
