@import "variables";

.header {
  position:fixed;
  top:0px;
  overflow:visible;
  font-size:3em;
  text-align: center;
  width: $left-content;
  font-family: $my-font;
  background-color: $col-font;
  color: $main-col;
}
