$left-content: 80%;
$main-col: #F7F9F9;
$my-font: 'Open Sans', sans-serif;
$col-font: #3C5D8F;

%borders{
  border-width: 1px;
  border-style: solid;
  border-color: #7A7E80;
}




body{
  padding-top:65px;
  font-family: $my-font;
  background-color: $main-col;

}

.restName{
  text-align: center;
  width: $left-content;
  font-family: $my-font;
  background-color: $main-col;
  @extend %borders;
  border-bottom-width: 0;
  color: $col-font;
}

