@import "variables";

body{
  padding-top:$pad-banner;
  font-family: $my-font;
  background-color: $main-col;
  color:$col-font;
  height:1350px;
}

.restName{
  text-align: center;
  width: $left-content;
  font-family: $my-font;
  background-color: $main-col;
  @extend %borders;
  border-bottom-width: 1px;
  color: $col-font;
}

.foodImg{
  width:150px;
  height:150px;
}

td{
  padding-left: 1em;
  width:150px;
  text-align:center;
}

.myfood{
  float:left;
}

.card {
  border: 1px solid;
  margin: 10px;
  padding:10px;
  border-color: $sidebar-col;
  background-color :white;
  border-radius: 5px;
}

.row {
  margin: 0 0 0 5px;
}

.card-text {
  color:$sidebar-col
}
