@import "variables";
.modal-dialog{
  width:350px
}

.modal-header{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: $col-font;
  background-color: $main-col;
}
.modal-body img{
 max-width: 100%;
 margin-left:auto;
 margin-right:auto;
}

.modal-body{
  color:gray;
  background-color:$main-col;

}

#inputAmount{
  width:1.5em;
}

.modal-open {
  overflow: scroll;
}

.checkoutOrder .textName {
  text-align: right;
}
