@import "layout";
#sideBar{
    background-color: #333333;
    position: fixed;
    height: 100%;
    z-index: 1;
    right:0;
    top:0;
    width: 100% - $left-content;
  }

#checkoutButton{
  position: absolute;
  bottom:0;
  color:$main-col;
  font-size:2em;
  text-align:center;
  height:$pad-banner;
  width: 100%;
}

.amountTotal{
  font-size:2em;
  padding-right:0.5em;
  position:absolute;
  bottom:70px;
  right:0;
}

#checkoutButton:hover{
  background-color:#008141;
  color:$main-col;
  font-size:2em;
  text-align:center;
  height:$pad-banner;
  user-select: none;
}

.orderName{
  padding-left:0.5em;
  font-size:1.5em;
}
.orderPrice, .orderQuanitiy{
  float:right;
  padding: 0.5em;
}

.orderItem{
  overflow:auto;
  background-color:#7a7e80;
}

#itemList{
  overflow-y: auto;
  height:80%;
}

.checkoutButton{
  position:relative;
  left:40%;
}
