@import "variables";
#sideBar{
    background-color: $main-col;
    position: fixed;
    height: 100%;
    z-index: 1;
    right:0;
    top:0;
    width: 100% - $left-content;
    @extend %borders;
    border-left-width: 1px;
  }

#checkoutButton{
  position: absolute;
  bottom:0;
  color:$main-col;
  font-size:2em;
  text-align:center;
  height:$pad-banner;
  width: 100%;
  @extend %borders;
  border-width: 1px;
  background-color:$col-font;

}

.amountTotal{
  font-size:2em;
  padding-right:0.5em;
  position:absolute;
  bottom:70px;
  right:0;
}

#checkoutButton:hover{
  background-color:#008141;
  color:$main-col;
  font-size:2em;
  text-align:center;
  height:$pad-banner;
  user-select: none;
}

.orderName{
  padding-left:1em;
  font-size:1.2em;
}
.orderPrice, .orderQuanitiy{
  float:right;
  padding: 0.5em;
}

.orderItem{
  overflow:auto;
  color:$col-font;
}

#itemList{
  overflow-y: auto;
  height:80%;
}

.textName{
  position:absolute;
  left:23%;
}

.checkoutOrder input, #orderId{
  position:relative;
  left: 42%;
}
