$left-content: 80%;
$main-col: #F7F9F9;
$my-font: 'Open Sans', sans-serif;
$col-font: #EB5E00;
$nav-height: 1em;
$banner-height:3em;
$pad-banner:60px;
$sidebar-col:#7A7E80;

%borders{
  border-style: solid;
  border-color: #333333;
  border-width:0;
}
